<div class = "container">
	<h2>Summer 2017 Camps</h2>
	<div class = "row">
		<blockquote>Summer camps at Miracle Fencing Club is an amazing opportunity for sabre fencers to train 
			intensively in our brand new air conditioned facility under the guidance of our head coach Miracle. Campers 
			will improve their physical conditions, strengthen their sabre footwork and bladework, and 
			hone tactical skills through bouting and studying video recordings. Fun games also included!</blockquote>
	</div>
	<div class = "row">
		<h5 class = "red-text">Requirements:</h5>
		<ul>
			<li>Wear athletic clothing</li>
			<li>Bring your own lunch and water</li>
		</ul>

	</div>
	<div class = "row">
		<h5 class = "red-text">Dates (10am - 4pm everyday): </h5>
		<ul>
			<li>6/26 - 6/30</li>
			<li>7/10 - 7/14</li>
			<li>7/24 - 7/28</li>
			<li>8/7 - 8/11</li>
			<li>8/21 - 8/25<li>
		</ul>
	</div>

	<div class = "row">
		<h5 class = "red-text">Price: </h5>
		<ul>
			<li>Individual Membership: $280 ($200 for an additional family member)</li>
			<li>(additional $70 for extension from 4pm to 6pm)</li>
			<li>One Day (10am - 4pm): $60</li>
		</ul>
	</div>

	<div class = "row">
		<h5><a ui-sref = "app.reg">Register Now!</a><h5>
	</div>
</div>