<script>
$('.parallax').parallax();
</script>
  <div class="parallax-container">
      <div class="parallax"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/15940809_1842711332664801_2643900686599624384_n.jpg?oh=764e0cc0ad6d7f658118b916b3626776&oe=5919EDB5"></div>
    </div>

<div class="container">
        <h1 class = "center-align">Miracle Fencing Club</h1>

                <div class = "row">
                  <div class="col s14 m6 ">
                    <h4 class = "center-align">Announcements</h4>
                    <div class="card blue darken-4">
                      <div class="card-content white-text">
                        <span class="card-title"><a ng-href="{{post1.newPost_url}}">{{post1.title}}  {{post1.newDate | date:'MM/dd/yyyy'}}</a></span>
                        <p ng-bind-html="post1.newPost"></p>
                        <span class="card-title"><a ng-href="{{post2.newPost_url}}">{{post2.title}}  {{post2.newDate | date:'MM/dd/yyyy'}}</a></span>
                        <p ng-bind-html="post2.newPost"></p>
                        <span class="card-title"><a ng-href="{{post3.newPost_url}}">{{post3.newDate | date:'MM/dd/yyyy'}}</a></span>
                        <p ng-bind-html="post3.newPost"></p>
                      </div>
        
                      <div class="card-action">
                        <a ng-href="{{post1.author_url}}">By {{post1.author}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="col s14 m6 ">
                    <h4 class = "center-align">About Us</h4>
                    <div class="card teal">
                      <div class="card-image">
              <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/15941150_1844630445806223_4401030220694488101_n.jpg?oh=47faccd0efe9b79ce04b2011aabe0503&oe=59130860">
            </div>
                      <div class="card-content white-text">
                        <p>Miracle Fencing Club is a facility dedicated to the sport of sabre fencing. The club is opened by former Chinese national fencing team member Ji (Miracle) Qi, who participated in many national and international competitions. She coaches in both collegiate level and individual level. The club welcomes people with all levels of experience.</p>
                      </div>
  
                    </div>
                    </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
              <h4 class = "center-align">Gallery</h4>
                 <div class="slider" slider>
                    <ul class="slides">
                     <li>
                        <img class = "img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/15977669_1842711335998134_2729901711398961701_n.jpg?oh=d60a8bdca17ec5fc6242c89ac70e0fe8&oe=590FF281"> 

                      </li>
                      <li>
                        <img class = "img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/15940926_1842711382664796_7502424378174197035_n.jpg?oh=cf46b7a2f596d04238a49307a1a59efe&oe=591BBC1F">

                      </li>
                      <li>
                        <img class = "img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/15977927_1842711372664797_8114114928011706235_n.jpg?oh=066ac6e8c75a41443a6dad3e4090aa38&oe=591A7739">

                      </li>
                      <li>
                        <img class = "img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/15965282_1842711342664800_5922747486534974176_n.jpg?oh=deb2c00cfd957f34ae370239565f0bc8&oe=5912D33D">

                      </li>
                      <li>
                        <img class = "img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/15940809_1842711332664801_2643900686599624384_n.jpg?oh=764e0cc0ad6d7f658118b916b3626776&oe=5919EDB5">

                      </li>
                    </ul>
                  </div>
                </div>
        </div>

    </div>