<script>
// Initialize collapse button
$(".button-collapse").sideNav({
  closeOnClick: false,
  menuWidth: 200,
  draggable: true
});
$(".dropdown-button").dropdown();
</script>
<ul id="dropdown1" class="dropdown-content">
        <li><a ui-sref="app.login">Login</a></li>
        <li><a ui-sref="app.signup">Signup</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        <li><a ui-sref="app">Profile</a></li>
        <li><a ui-sref="app">Duels</a></li>
        <li><a ng-click = "logout()">Logout</a></li>
      </ul>
<div class="navbar-fixed"> 
  <nav>
    <div class="nav-wrapper blue">
      <a href="#!" class="brand-logo center">Miracle Fencing Club</a>
      <a href = "" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
<!--         <li><a ui-sref = "app">Home</a></li> -->
<!--         <li><a href = "#">Coaches</a></li> -->
        <li><a ng-click = "scrollBottom()">Contact</a></li>
        <li><a ui-sref="app.resources">Resources</a></li>
         <li ng-show="!loggedin"><a class="dropdown-button" data-activates="dropdown1">Registration<i class="material-icons right">arrow_drop_down</i></a></li>
         <li ng-show="loggedin"><a class="dropdown-button" data-activates="dropdown2">{{username}}<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li><a ui-sref = "app">Home</a></li>
                <li><a ui-sref="app.schedule">Schedule</a></li>
<!--         <li><a href = "#">Coaches</a></li> -->
<!--         <li><a ui-sref="app.schedule">Schedule</a></li> -->
<!--         <li><a ng-click = "scrollBottom()">Contact</a></li> -->
      </ul>
      <ul class="side-nav blue" id="mobile-demo">
        <li><a ui-sref = "app" class = "white-text">Home</a></li>
<!--         <li><a href = "#">Coaches</a></li> -->
        <li><a ui-sref="app.schedule" class = "white-text">Schedule</a></li>
        <li><a ng-click = "scrollBottom()" class = "white-text">Contact</a></li>
        <li><a ui-sref="app.resources" class = "white-text">Resources</a></li>
        <li ng-show="!loggedin" class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Registration</a>
            <div class="collapsible-body">
              <ul>
                <li><a ui-sref="app.login">Login</a></li>
                <li><a ui-sref="app.signup">Signup</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li ng-show="loggedin" class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">{{username}}</a>
            <div class="collapsible-body">
              <ul>
                <li><a ui-sref="app">Profile</a></li>
        <li><a ui-sref="app">Duels</a></li>
        <li><a ng-click = "logout()">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      </ul>
    </div>
  </nav>
<!--     <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li> 
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Mobile</a></li>
      </ul>
    </div>
  </nav> -->
</div>

        