<div class = "container">
	
	<div class = "row">
		<h4>Links</h4>
		<ul>
			<li>USA Fencing official page: <a href = "http://www.usfencing.org/">USA Fencing</a></li>
			<li>A Youtube channel for fencing videos <a href = "https://www.youtube.com/user/sydneysabrecentre">Sydney Sabre</a></li>
			<li>Another Youtube channel for fencing videos: <a href = "https://www.youtube.com/user/CyrusofChaos">Cyrus of Chaos</a></li>
			<li>Site for purchasing fencing gear: <a href = "http://www.absolutefencinggear.com/shopping/">Absolute Fencing Gear</a></li>
			<li>Site for competition information: <a href = "https://askfred.net/">Askfred</a></li>
		</ul>

	</div>
	<div class = "row">
		<h4>Miracle Fencing Club's Chinese Spring Festival Performance</h4>
		<div class = "video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/1OaIxwI5icw" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class = "row">
		<h4>We Present To You Modern Sabre Fencing</h4>
		<h6>A Quick Guide To Sabre Fencing (By Sydney Sabre)</h6>
			<div class="video-container">
			<iframe width="200" height="100" src="https://www.youtube.com/embed/sqinvvppLk8" frameborder="0" allowfullscreen></iframe>
			</div>
	</div>
	<div class = "row">
		<h5>Technical Sabre</h5>

	<!-- 		<h6>Two Times Olympic Champion (Aron Szilagyi)</h6> -->
			<div class="video-container">
			<iframe width="200" height="100" src="https://www.youtube.com/embed/qFE4WvGaMk0?list=PLOS-FK662h4ch2A1FFxcoDPu8vWkSaN1q" frameborder="0" allowfullscreen></iframe>
			</div>
					<div class="video-container">
			<iframe width="200" height="100" src="https://www.youtube.com/embed/POS1QL-vUK8?list=PLOS-FK662h4ch2A1FFxcoDPu8vWkSaN1q" frameborder="0" allowfullscreen></iframe>
			</div>



	</div>

	<div class = "row">
		<h5>Insane Sabre (Don't try this at home)</h5>

		<!-- 	<h6>Gu Bongil</h6> -->
			<div class="video-container">
			<iframe width="200" height="100" src="https://www.youtube.com/embed/jrXfcjK67aM?list=PLOS-FK662h4ch2A1FFxcoDPu8vWkSaN1q" frameborder="0" allowfullscreen></iframe>
			</div>
						<div class="video-container">
			<iframe width="200" height="100" src="https://www.youtube.com/embed/3678cfqaptM?list=PLOS-FK662h4ch2A1FFxcoDPu8vWkSaN1q" frameborder="0" allowfullscreen></iframe>
			</div>

	</div>
</div>