<div class = "container">
<h3>Schedule</h3>
<div class = "schedule-container">
<iframe src="https://calendar.google.com/calendar/embed?src=miraclefencingclub%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<h5>Floor Fee</h5>
<p>$10 (Fencing Only)</p>

<h5>Club Membership</h5><p>(Includes equipment rental, open fencing and stamina training)</p>
<ul>
	<li>Individual: $40/month</li>
	<li>Family Membership: First member $40/month, $25/month per additional family member</li>
</ul>
<h5>Beginner Lessons Hours</h5>
<ul>
<li>Youth (8 - 13) beginner lesson: Saturday 10am - 11am
</li>
<li>Adult (14+) begineer lesson: Tuesday 6:30pm - 7:30pm</li>
</ul>
<h5>Group Lesson</h5>
<ul>
<li>1 lesson per week for 4 weeks: $100</li>
<li>2 lessons per week for 4 weeks: $140 ($200 to add four 20 mins private lessons)</li>
<li>3 lessons and more per week for 4 weeks: $180 ($240 to add four 20 mins private lessons)</li>
</ul>
<h5>Private Lesson</h5>
<ul>
<li>$20 for 20 mins</li>
</ul>
<h5>We Also Have Drum Lessons!</h5>
<ul>
<li>Every Tuesday 4:30pm - 8:30pm</li>
<li>$25 for 30 min, $45 for 60min</li>
</ul>
</br>
<div class = "center red-text" >
<p><b>**All membership, class and lesson fees are non-refundable.**<b></p>
<p><b>**All returned checks will incur a $25 processing fee**</b></p>
<p><b>**Please make payments at the 1st lesson of the month**</b></p>
</div>
</div>