 <div class = "container">
<div id="signup-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="signup-form">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Dueling_lightsabers.svg" alt="" class="responsive-img valign profile-image-login">
            <p class="center signup-form-text">SignUp</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text" class="validate" ng-model="registration.username">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="firstname" type="text" class="validate" ng-model="registration.firstname">
            <label for="firstname">Firstname</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="lastname" type="text" class="validate" ng-model="registration.lastname">
            <label for="lastname">Lastname</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input id="email" type="email" class="validate" ng-model="registration.email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" class="validate" ng-model="registration.password">
            <label for="password">Password</label>
          </div>
        </div>
         <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="secretcode" type="password" class="validate" ng-model="registration.secretcode">
            <label for="secretcode">Secret Code</label>
          </div>
        </div>
<!--         <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password-again" type="password">
            <label for="password-again">Re-type password</label>
          </div>
        </div> -->
        <div class="row">
          <div class="input-field col s12">
            <a class="btn waves-effect waves-light col s12" ng-click = "doRegister()">Register Now</a>
          </div>
          <div class="input-field col s12">
            <p class="margin center medium-small sign-up">Already have an account? <a ui-sref = "app.login">Login</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>