<div class="container" ng-controller="fencingController">
        <h1>Miracle Fencing Club</h1>
        <div class="row">
            <div class="col-xs-6">
                 <div class="slider" slider>
                    <ul class="slides">
                      <li>
                        <img src="images/foil.jpg"> <!-- random image -->
                        <div class="caption left-align">
                          <h3>Foil</h3>
                        </div>  
                      </li>
                      <li>
                        <img src="images/sabre.jpg"> <!-- random image -->
                        <div class="caption right-align">
                          <h3>Sabre</h3>
                        </div>
                      </li>
                      <li>
                        <img src="images/epee.jpg"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>Epee</h3>
                        </div>
                      </li>
                    </ul>
                  </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12" id="results">
            </div>
        </div>
    </div>